* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif !important;
}

html {
  font-size: 100%;
}

/* *{box-sizing: border-box; -webkit-box-sizing: border-box; } */
/* html, body { height: 100%; } */
/* body { margin: 0; font: 16px/1.3 sans-serif; } */


.layer-1,
svg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.layer-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
}

svg g {
  mix-blend-mode: lighten;
}

svg polygon {
  stroke: none;
  fill: white;
}

/* Shared */
.icon a i {
  font-size: 2rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.18rem;
}
.scale-animation {
  transition: transform 1s;
}

.scale-animation:hover {
  transform: scale(1.05);
}

.custom-card {
  /* text-align: center; */
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* navbar*/
.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 20px;
}

.navbar-nav .nav-link{
  color: black !important;
}


.navbar-nav .nav-link:hover {
  color: #c55e77 !important;
}

.navbar.scrolled {
  background-color: rgb(208, 167, 192);
  transition: background 1s;
}

/* About */
#name {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

#description {
  font-family: lato;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.selfie {
  background: url("selfie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  max-width: 100%;
}

#about {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Education */
#truman_logo {
  width: 8rem;
}

#fpt_logo {
  width: 11rem;
}

/* Projects */

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}

#projects .card {
  /* width: 90%; */
  /* margin: auto; */
  margin-bottom: 4rem;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-title {
  font-weight: bold;
}

#projects .project-card {
  text-decoration: none;
  color: black;
}
/* #projects .project-card:hover {
  color: black;
  text-decoration: none;
} */

/* Footer */
#footer {
  padding: 1rem;
  text-align: center;
}

/* change elements depending on the size of the screen */
/* only display these if width more than 540px - small width*/
/* @media only screen and (min-width: 540px) {
  #truman_logo {
    width: 11rem;
  }
  #selfie {
    background-position-y: 35%;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
  }
} */

/* only display these if width more than 720px - medium width*/
/* @media only screen and (min-width: 720px) {
  #truman_logo {
    width: 13rem;
  }
} */

/* only display these if width more than 992px - large width*/
/* @media only screen and (min-width: 960px) {
  #truman_logo {
    width: 15rem;
  }
} */

/* SLIDE SHOW */

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

/* -------------popup card------------- */
.popup-card {
  border-radius: 5px;
  background-color: white !important;
  max-height: 700px;
  overflow: scroll;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.col-centered{
  float: none;
  margin: auto;
  
}

.popup {
  /* position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  */

  padding-top: 13%;
  transition: all 0.3s ease-in-out;
}


