* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.layer-1,
svg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.layer-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: scroll;
}

svg g {
  mix-blend-mode: lighten;
}

svg polygon {
  stroke: none;
  fill: white;
}

/* Shared */
.icon a i {
  font-size: 2rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.18rem;
}
.scaleAnimation {
  transition: transform 1s;
}

.scaleAnimation:hover {
  transform: scale(1.05);
}

.custom-card {
  /* text-align: center; */
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* navbar*/
.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 20px;
}

.navbar-nav .nav-link{
  color: black !important;
}


.navbar-nav .nav-link:hover {
  color: #c55e77 !important;
}

.navbar.scrolled {
  background-color: rgb(208, 167, 192);
  transition: background 1s;
}

/* About */
#name {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

#description {
  font-family: lato;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

.selfie {
  background: url("selfie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  max-width: 100%;
}

#about {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Education */
#truman_logo {
  width: 8rem;
}

#fpt_logo {
  width: 11rem;
}

/* Projects */
.card {
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

.card-img {
  height: 16rem;
}

.card-title {
  font-weight: bold;
}

#projects a {
  text-decoration: none;
  color: black;
}
#projects a:hover {
  color: black;
  text-decoration: none;
}

/* Footer */
#footer {
  padding: 1rem;
  text-align: center;
}

/* change elements depending on the size of the screen */
/* only display these if width more than 540px - small width*/
/* @media only screen and (min-width: 540px) {
  #truman_logo {
    width: 11rem;
  }
  #selfie {
    background-position-y: 35%;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
  }
} */

/* only display these if width more than 720px - medium width*/
/* @media only screen and (min-width: 720px) {
  #truman_logo {
    width: 13rem;
  }
} */

/* only display these if width more than 992px - large width*/
/* @media only screen and (min-width: 960px) {
  #truman_logo {
    width: 15rem;
  }
} */

body {
  font-family: "Lato", sans-serif !important;
}
