* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif !important;
  background-color: rgb(242, 207, 245);
}

html {
  font-size: 100%;
}

/* -----------Common-------------  */
.icon a i {
  font-size: 2rem;
  line-height: 2;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.18rem;
}
.scale-animation {
  transition: transform 1s;
}

.scale-animation:hover {
  transform: scale(1.05);
}

.custom-card {
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

.col-centered{
  float: none;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.job-logo {
  width: 8rem;
}

/* -----------Set animation background-------------  */
.background-animation,
svg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.window {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
}

svg g {
  mix-blend-mode: lighten;
}

svg polygon {
  stroke: none;
  fill: white;
}

/* -----------Nav bar-------------  */
.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-nav .nav-link:hover {
  color: #c55e77 !important;
}

.navbar.scrolled {
  background-color: white;
  transition: background 1s;
}

.active {
  color: #c55e77 !important;
}

/* -----------About-------------  */
#about {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#about .name {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

#about .description {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

#about .selfie {
  background: url("../img/selfie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  max-width: 100%;
}

/* -----------Projects-------------  */
#projects .card {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
}

#project .card-title {
  font-weight: bold;
}

#projects .project-card {
  text-decoration: none;
  color: black;
  margin-bottom: 40px;
}

#projects .card-img {
  max-height: 500px !important;
}

/* -----------Footer------------  */
#footer {
  padding: 1rem;
  text-align: center;
}

/* -----------Popup card-------------  */
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%) scale(0);
  z-index:2;
  box-sizing:border-box;
  border-radius: 1%;
  background-color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.popup.visible .overlay {
  display:block;
}

.popup.visible .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

